@page "/Exam"
@inject QuestionAccessor QuestionAccessor

<div class="container">
    @if( ShowResult )
    {
        <div></div>
        <div>
            <h1>REZULTAT</h1>
            <h2>@TotalPoints / 74</h2>
            @if( TotalPoints > 68 )
            {
                <h2>Zdałeś! :)</h2>
            }
            else
            {
                <h2>Oblałeś... :(</h2>
            }
        </div>
    }
    else
    {
        <div></div>
        <QuestionComponent Question="CurrentQuestion" OnSelectAnswerCallback="OnSelectAnswer" IsPractice="false" />
    }
</div>

@code {
    private List<Question> _questions;
    private List<Question> Questions
    {
        get
        {
            return _questions ??= RestartQuestions();
        }
    }

    private int _currentIndex = 0;
    private Question CurrentQuestion { get => Questions[_currentIndex]; }
    private bool ShowResult { get; set; }
    private int TotalPoints { get; set; }

    public async Task OnSelectAnswer(Question question, bool isCorrectAnswer)
    {
        var score = isCorrectAnswer ? 1 : -1;
        QuestionAccessor.AddScore(question.Id, score);
        if (isCorrectAnswer)
        {
            TotalPoints += question.Points;
        }
        NextQuestion();
    }

    private void NextQuestion()
    {
        _currentIndex++;
        if( _currentIndex == Questions.Count )
        {
            ShowResult = true;
        }
        StateHasChanged();
    }

    private List<Question> RestartQuestions()
    {
        _currentIndex = 0;
        return QuestionAccessor.SelectExamQuestions(Language.PL, DrivingLicenseCategory.B);
    }
}