@page "/"

<div class="container main-menu">
    <h1>Prawo jazdy</h1>
    <div>
        <a href="/Exam">
            Egzamin
        </a>
    </div>
    <div>
        <a href="/Review">
            Powtórka
        </a>
    </div>
</div>
