@page "/Learn/{id:int}"
@inject QuestionAccessor QuestionAccessor

<div class="container">
    <div></div>
    <QuestionComponent IsPractice="true" Question="Question" />
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Question Question => QuestionAccessor.GetQuestion(Language.PL, Id);
}